<div class="yws-collapse" 
    {% if initially_open %}
        data-collapsed="false"
    {% else %}
        data-collapsed="true"
    {% endif %}
    >
    <div class="collapse-title">
        <h3>{{ title }}</h3>
        <div class="collapse-icon">
            {% render 'icon-caret' %}
        </div>
    </div>
    <div class="collapse-content" 
        {% if initially_open %}
            data-collapsed="false"
        {% else %}
            data-collapsed="true"
        {% endif %}
    >
        {% if size_chart %}

            <div class="yws-size-chart">
                <div class="size-table-row">
                    <span class="table-title">Size</span>
                {% assign sizes = content.value %}
                {% for s in sizes.sizes %}
                    <div class="table-value-size">
                        <span class="circle">
                            <span>{{ s.size }}</span>
                        </span>
                    </div>
                {% endfor %}
                </div>

                {% comment %} tops {% endcomment %}
                <div class="size-table-row">
                    <span class="table-title">Length</span>
                    {% for s in sizes.sizes %}
                        <span class="table-value {% if s.length == blank %} dosnt-exist {% endif %}">{{ s.length }}"</span>
                    {% endfor %}
                </div>
                <div class="size-table-row">
                    <span class="table-title">Chest</span>
                    {% for s in sizes.sizes %}
                        <span class="table-value {% if s.chest == blank %} dosnt-exist {% endif %}">{{ s.chest }}"</span>
                    {% endfor %}
                </div>
                <div class="size-table-row">
                    <span class="table-title">Sleeve</span>
                    {% for s in sizes.sizes %}
                        <span class="table-value {% if s.sleeve == blank %} dosnt-exist {% endif %}">{{ s.sleeve }}"</span>
                    {% endfor %}
                </div>
                <div class="size-table-row">
                    <span class="table-title">Shoulder</span>
                    {% for s in sizes.sizes %}
                        <span class="table-value {% if s.shoulder == blank %} dosnt-exist {% endif %}">{{ s.shoulder }}"</span>
                    {% endfor %}
                </div> 

                {% comment %} pants {% endcomment %}
                <div class="size-table-row">
                    <span class="table-title">Waist</span>
                    {% for s in sizes.sizes %}
                        <span class="table-value {% if s.waist == blank %} dosnt-exist {% endif %}">{{ s.waist }}"</span>
                    {% endfor %}
                </div>  
                <div class="size-table-row">
                    <span class="table-title">Rise</span>
                    {% for s in sizes.sizes %}
                        <span class="table-value {% if s.rise == blank %} dosnt-exist {% endif %}">{{ s.rise }}"</span>
                    {% endfor %}
                </div>  
                <div class="size-table-row">
                    <span class="table-title">Inseam</span>
                    {% for s in sizes.sizes %}
                        <span class="table-value {% if s.inseam == blank %} dosnt-exist {% endif %}">{{ s.inseam }}"</span>
                    {% endfor %}
                </div>   
                <div class="size-table-row">
                    <span class="table-title">Leg Opening</span>
                    {% for s in sizes.sizes %}
                        <span class="table-value {% if s.leg_opening == blank %} dosnt-exist {% endif %}">{{ s.leg_opening }}"</span>
                    {% endfor %}
                </div>  

            </div>
        {% else %}
            {{ content }}
        {% endif %}
    </div>
</div>