<div class="yws-collapse" 
    {% if initially_open %}
        data-collapsed="false"
    {% else %}
        data-collapsed="true"
    {% endif %}
    >
    <div class="collapse-title">
        <h3>{{ title }}</h3>
        <div class="collapse-icon">
            {% render 'icon-caret' %}
        </div>
    </div>
    <div class="collapse-content" 
        {% if initially_open %}
            data-collapsed="false"
        {% else %}
            data-collapsed="true"
        {% endif %}
    >
        {% if size_chart %}
            <div class="yws-size-chart">
                <div class="size-table-row">
                    <span class="table-title">Size</span>
                {% assign sizes = content.value %}
                {% for s in sizes.sizes %}
                    <div class="table-value-size">
                        <span class="circle">
                            <span>{{ s.size }}"</span>
                        </span>
                    </div>
                {% endfor %}
                </div>
                <div class="size-table-row">
                    <span class="table-title">Length</span>
                {% for s in sizes.sizes %}
                    <span class="table-value">{{ s.length }}"</span>
                {% endfor %}
                </div>
                <div class="size-table-row">
                    <span class="table-title">Chest</span>
                {% for s in sizes.sizes %}
                    <span class="table-value">{{ s.chest }}"</span>
                {% endfor %}
                </div>
                <div class="size-table-row">
                    <span class="table-title">Sleeve</span>
                {% for s in sizes.sizes %}
                    <span class="table-value">{{ s.sleeve }}"</span>
                {% endfor %}
                </div>
                <div class="size-table-row">
                    <span class="table-title">Shoulder</span>
                {% for s in sizes.sizes %}
                    <span class="table-value">{{ s.shoulder }}"</span>
                {% endfor %}
                </div>
            </div>
        {% else %}
            {{ content }}
        {% endif %}
    </div>
</div>