<div class="yws-menu-drawer__header">
    <div class="yws-menu-drawer__cart-text">Shopping Cart</div>
    <div id="header-cart-button">
        {% render 'yws-cart' %}
        <span class="cart-count {% if cart.item_count > 0 %} active {% endif %}">
            {% unless cart.item_count == 0 %}
                <p>{{ cart.item_count }}</p>
            {% endunless %}
        </span>
    </div>
    <div id="header-close-menu-button">
        {% render 'yws-icon-close' %}
    </div>
</div>
<div class="yws-menu-drawer__navigation">
    {% for link in settings.yws_main_yws.links %}
        <a href={{ link.url }} class="drawer-york drawer-letter">
            {{ link.title }}
        </a>
    {% endfor %}
    <ul class="menu-area">
        {% for link in settings.yws_drawer_menu.links %}
            <li>
                <a href="link.url">
                    {{ link.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="yws-menu-drawer__cart-items">
    <ul>
        {% for item in cart.items %}
            <script>
                console.log({{ item | json }})
            </script>
            <li>
                <div class="col">
                    <img src="{{ item.image | image_url: width: 300 }}" alt="item.featured_image.alt">
                </div>
                <div class="col">
                    <div class="line-item-info">
                        <a href="{{ item.url }}">{{ item.product.title }}</a>
                        <a href="{{ item.url }}">
                            {% if item.product.metafields.custom.product_color_name %}
                                {{ item.product.metafields.custom.product_color_name }} - 
                            {% endif %}
                            {{ item.product.selected_or_first_available_variant.title }}
                        </a>
                    </div>
                    <div class="line-item-price">
                        {{ item.price | money }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="yws-menu-drawer__subtotal">
    {{ cart.total_price | money }}
</div>
<div class="yws-menu-drawer__footer">
    <div class="yws-menu-drawer__footer--inner">
        {% render 'yws-footer-form-snippet' %}
        <a href="{{ settings.social_instagram_link }}" class="yws-link-button cream" target="_blank">
            <span>
                {% render 'icon-instagram' %}
                york.nyc
            </span>
            {% render 'yws-icon-right' extra_classes: 'cream'%}
        </a>
        <div class="copywright">© 2024 York Work Shop</div>
    </div>
</div>