<div class="yws-menu-drawer__header">
    <div class="yws-menu-drawer__cart-text">Shopping Cart</div>
    <div id="header-cart-button">
        {% render 'yws-cart' %}
        <span class="cart-count{% if cart == empty %} inactive {% endif %}">
            {% unless cart == empty %}
                <p>{{ cart.item_count }}</p>
            {% endunless %}
        </span>
    </div>
    <div id="header-close-menu-button">
        {% render 'yws-icon-close' %}
    </div>
</div>
<div class="divider blue"></div>
<div class="yws-menu-drawer__navigation">
    {% for link in settings.yws_main_yws.links %}
        <a href={{ link.url }} class="drawer-york drawer-letter">
            {{ link.title }}
        </a>
    {% endfor %}
    <ul class="menu-area">
        {% for link in settings.yws_drawer_menu.links %}
            <li>
                <a href="link.url">
                    {{ link.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="yws-menu-drawer__cart-items">   
    {% if cart == empty %}
        <div class="yws-menu-drawer__cart-items-empty">
            Your cart is empty. 
        </div>
    {% endif %}
    <ul>
        {% for item in cart.items %}
            <li class="yws-cart-line-item" data-line-quantity="{{ item.quantity }}" data-variant-id="{{ item.variant_id }}">
                <div class="col">
                    <img src="{{ item.image | image_url: width: 300 }}" alt="item.featured_image.alt">
                </div>
                <div class="col">
                    <div class="line-item-info">
                        <a class="cart-item-title" href="{{ item.url }}">{{ item.product.title }}</a>
                        <a class="cart-item-subtitle" href="{{ item.url }}">
                            {% liquid 

                                assign size = nil
                                assign color = nil

                                for option in item.options_with_values
                                    if option.name == 'Size'
                                        assign size = option.value
                                    endif
                                    if option.name == 'Color'
                                        assign color = option.value
                                    endif
                                endfor

                                if size != nil

                                    assign sizing_string = nil

                                    case size
                                        when 'S'
                                            assign sizing_string = 'Small'
                                        when 'M'
                                            assign sizing_string = 'Medium'
                                        when 'L'
                                            assign sizing_string = 'Large'
                                        when 'XL'
                                            assign sizing_string = 'Extra Large'
                                        when 'XXL'
                                            assign sizing_string = 'Extra Extra Large'
                                    endcase
                                endif
                            -%}
                            
                            {% if sizing_string %}
                                {{ sizing_string }}
                            {% endif %}
                            {% if sizing_string != nil and color != nil %}
                                -
                            {% endif %}
                            {% if color != nil %}
                                {{ color }}
                            {% endif %}
                        </a>
                        <div class="line-item-controls-area">
                            <div class="line-item-controls">
                                <decrement-line-item>
                                    {% render 'yws-icon-minus' %}
                                </decrement-line-item>
                                <div class="line-item-quantity">
                                    {{ item.quantity }}
                                </div>
                                <increment-line-item>
                                    {% render 'yws-icon-plus' %}
                                </increment-line-item>
                                <remove-line-item>
                                    {% render 'yws-icon-garbage' %}
                                </remove-line-item>
                            </div>
                            <div class="line-item-price">
                                {{ item.final_line_price | money_without_trailing_zeros }}
                                {% if item.product.compare_at_price > item.product.price %}
                                    {%  assign calculated_compare_at_price = item.product.compare_at_price | times: item.quantity %}
                                    <span class="compare-at">{{ calculated_compare_at_price | money_without_trailing_zeros }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="yws-menu-drawer__subtotal">
    <div class="subtotal-area">
        <div class="subtotal--text">
            <p>Subtotal</p>
            <p>(Excluding promos, tax, & shipping)</p>
        </div>
        <div class="subtotal--price">
            {{ cart.total_price | money_without_trailing_zeros }}
        </div>
    </div>
    <form action="/checkout" method="post" class="{% if cart == empty %} disabled {% endif %}">
        <button class="yws-link-button">
            Checkout
        </button>
    </form>
</div>
<div class="yws-menu-drawer__footer">
    <div class="yws-menu-drawer__footer--inner">
        {% render 'yws-footer-form-snippet' %}
        <a href="{{ settings.social_instagram_link }}" class="yws-link-button cream" target="_blank">
            <span>
                {% render 'icon-instagram' %}
                york.nyc
            </span>
            {% render 'yws-icon-right' extra_classes: 'cream'%}
        </a>
        <div class="copywright">© 2024 York Work Shop</div>
    </div>
</div>