<div class="yws-menu-drawer__header">
    <div class="yws-menu-drawer__cart-text">Shopping Cart</div>
    <div id="header-cart-button">
        {% render 'yws-cart' %}
        <span class="cart-count{% if cart == empty %} inactive {% endif %}">
            {% unless cart == empty %}
                <p>{{ cart.item_count }}</p>
            {% endunless %}
        </span>
    </div>
    <div id="header-close-menu-button">
        {% render 'yws-icon-close' %}
    </div>
</div>
<div class="divider blue"></div>
<div class="yws-menu-drawer__navigation">
    {% for link in settings.yws_main_yws.links %}
        <a href={{ link.url }} class="drawer-york drawer-letter">
            {{ link.title }}
        </a>
    {% endfor %}
    <ul class="menu-area">
        {% for link in settings.yws_drawer_menu.links %}
            <li>
                <a href="link.url">
                    {{ link.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="yws-menu-drawer__cart-items">   
    {% if cart == empty %}
        <div class="yws-menu-drawer__cart-items-empty">
            Your cart is empty. 
        </div>
    {% endif %}
    <ul>
        {% for item in cart.items %}
            <li class="yws-cart-line-item" data-line-quantity="{{ item.quantity }}" data-variant-id="{{ item.variant_id }}">
                <div class="col">
                    <img src="{{ item.image | image_url: width: 300 }}" alt="item.featured_image.alt">
                </div>
                <div class="col">
                    <div class="line-item-info">
                        <a class="cart-item-title" href="{{ item.url }}">{{ item.product.title }}</a>
                        <a class="cart-item-subtitle" href="{{ item.url }}">
                            {% if item.product.metafields.custom.product_color_name %}
                                {{ item.product.metafields.custom.product_color_name }} - 
                            {% endif %}
                            {% comment %} was trying to check for == null or == nil to remove variant titles that are null, but it wasnt working. Had to use contains string. {% endcomment %}
                            {% unless item.product.selected_or_first_available_variant.title contains 'Default' %}
                                {{ item.product.selected_or_first_available_variant.title }}
                            {% endunless %}
                        </a>
                        <div class="line-item-controls-area">
                            <div class="line-item-controls">
                                <decrement-line-item>
                                    {% render 'yws-icon-minus' %}
                                </decrement-line-item>
                                <div class="line-item-quantity">
                                    {{ item.quantity }}
                                </div>
                                <increment-line-item>
                                    {% render 'yws-icon-plus' %}
                                </increment-line-item>
                                <remove-line-item>
                                    {% render 'yws-icon-garbage' %}
                                </remove-line-item>
                            </div>
                            <div class="line-item-price">
                                {{ item.price | money_without_trailing_zeros }}
                                {% if item.product.compare_at_price > item.product.price %}
                                    <span class="compare-at">{{ item.product.compare_at_price | money_without_trailing_zeros }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="yws-menu-drawer__subtotal">
    <div class="subtotal-area">
        <div class="subtotal--text">
            <p>Subtotal</p>
            <p>(Excluding promos, tax, & shipping)</p>
        </div>
        <div class="subtotal--price">
            {{ cart.total_price | money_without_trailing_zeros }}
        </div>
    </div>
    <form action="/checkout" method="post" class="{% if cart == empty %} disabled {% endif %}">
        <button class="yws-link-button">
            Checkout
        </button>
    </form>
</div>
<div class="yws-menu-drawer__footer">
    <div class="yws-menu-drawer__footer--inner">
        {% render 'yws-footer-form-snippet' %}
        <a href="{{ settings.social_instagram_link }}" class="yws-link-button cream" target="_blank">
            <span>
                {% render 'icon-instagram' %}
                york.nyc
            </span>
            {% render 'yws-icon-right' extra_classes: 'cream'%}
        </a>
        <div class="copywright">© 2024 York Work Shop</div>
    </div>
</div>