<a class="yws-product-card" href="{{ product.url }}">
    <div class="top">
        <img class="featured-image" src="{{ product.featured_image.src | img_url: '600x' }}" alt="{{ product.featured_image.alt }}">
        {% if product.images.size > 1 %}  
            <img class="hover-image" src="{{ product.images[1] | img_url: '600x' }}" alt="YWS Product Image 2">
        {% endif %} 
    </div>
    <div class="bottom">
        <div class="left">
            {% if is_variant %}
                <h3>{{ parent.title }}</h3>
                <h4>{{ product.title }}</h4>
            {% else %}
                <h3>{{ product.title }}</h3>
                {% if product.metafields.custom.product_color_name %}
                    <h4>{{ product.metafields.custom.product_color_name }}</h4>
                {% endif %}
            {% endif %}
        </div>
        <div class="right">
            <span class="money">{{ product.price | money_without_trailing_zeros }}</span>
            {% if product.compare_at_price > product.price %}
                <span class="money compare-at">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
            {% endif %}
        </div>
    </div>
</a>