{% style %}
    [data-section-id="{{ section.id }}"] {
        background-color: {{ section.settings.bg_color }};
        padding: 100px var(--yws-spacing);
    }

    [data-section-id="{{ section.id }}"] h2,
    [data-section-id="{{ section.id }}"] a,
    [data-section-id="{{ section.id }}"] p {
        color: {{ section.settings.text_color }};
    }

    [data-section-id="{{ section.id }}"] .yws-capabilities {
        background-color: {{ section.settings.inner_bg_color }};
    }

    @media screen and (max-width: 834px) {
        [data-section-id="{{ section.id }}"] {
            padding: 80px 15px;
        }
    } 
    @media screen and (max-width: 390px) {
        [data-section-id="{{ section.id }}"] {
            padding: 40px 0px;
        }
    }

{% endstyle %}

<div data-section-id="{{ section.id }}">
    <div class="yws-section-content yws-capabilities">
        <div class="row">
            <div class="col">
                <h2>{{ section.settings.header }}</h2>
            </div>
            <div class="col">
                <h2>{{ section.settings.header }}</h2>
                {% for block in section.blocks %}
                    {% assign mod = forloop.index | modulo: 2 %}
                    {% if mod == 1 %}
                        <p>{{ block.settings.title }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col">
                {% for block in section.blocks %}
                    {% assign mod = forloop.index | modulo: 2 %}
                    {% if mod == 0 %}
                        <p>{{ block.settings.title }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <a href="{{ section.settings.button_link }}" class="yws-link-button cream">   
                    {{ section.settings.button_text }}
                    {% render 'yws-icon-right', extra_classes: 'cream' %}
                </a>
            </div>

        </div>
    </div>
</div>

{% schema %}
{
   "name": "YWS Capabilities",
    "settings": [ 
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#F3ECDE"
        },
        {
            "type": "color",
            "id": "inner_bg_color",
            "label": "Inner Background Color",
            "default": "#0B3449"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#f3ecde"
        },
        {
            "type": "text",
            "id": "header",
            "label": "Header"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],
    "blocks": [
        {
            "type": "section-link",
            "name": "Section Link",
            "limit": 8,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Link Title",
                    "default": "Link Title"
                }
            ]
        },
    ],
    "presets": [
        {
            "name": "YWS Capabilities"
        }
    ]
}
{% endschema %}