{% liquid 

    assign obj = article.metafields.custom.blog_post_meta_object.value

    assign yws_date                 = obj.project_date.value
    assign yws_location             = obj.project_location.value
    assign yws_deliverables         = obj.project_deliverables.value
    assign yws_team                 = obj.project_team.value
    assign yws_project_description  = obj.project_full_description.value
    assign yws_grid_items           = obj.project_files.value

-%}

<script>
    console.log({{ obj | json }})
</script>

<div data-section-id="{{ section.id }}" class="yws-article-container">
    <div class="yws-hero article-hero">
        <div class="content-wrapper">
            <div class="content-container-inner">
                <div class="empty"></div>
                <div class="content-container">
                    <h1>{{ article.title}}</h1>
                    <h2>{{ article.excerpt }}</h2>
                </div>
            </div>
        </div>

        <div class="image-wrapper">
            <img src="{{ article.image.src |  image_url: width: 1440  }}" alt="YWS Banner Image">
        </div>
    </div>

    <div class="yws-article-info">
        <div class="col">
            <div class="date">
                <h4>Date</h4>
                <p>{{ yws_date }}</p>
            </div>
            <div class="location">
                <h4>Location</h4>
                <p>{{ yws_location }}</p>
            </div>
            <div class="deliverables">
                <h4>Deliverables</h4>
                <ul>
                    {% for deliverable in yws_deliverables %}
                        <li>{{ deliverable }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="team">
                <h4>Team</h4>
                <ul>
                    {% for member in yws_team %}
                        <li>{{ member }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <p>{{ yws_project_description }}</p>
        </div>
    </div>

    {% comment %} <div class="yws-article-grid">
        <div class="yws-article-modal-outer">
            <div class="yws-article-modal-inner">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% for item in yws_grid_items %}
                            <div class="swiper-slide" data-article-modal-index="{{ forloop.index }}">
                                <div class="slide-container">
                                    <span>{% render 'yws-icon-close' %}</span>
                                    {% case item.type %}
                                        {% when 'image' %}  
                                            <img src="{{ item.image |  image_url: width: 900  }}" alt="YWS Project Image">
                                        {% when 'video' %}
                                            <span id="article-play-button">
                                                {% render 'yws-icon-play' %}
                                            </span>
                                            {{ video_source | media_tag: autoplay: false, controls: true, muted: false, playsinline: true, preload: false }}
                                    {% endcase %}
                                    <div class="slide-info">
                                        {% if item.image.alt != blank %}
                                            <span class="slide-caption">{{ item.image.alt }}</span>
                                        {% endif %}
                                        <span class="index-info">
                                            <span class="current-index">{{ forloop.index }}</span>
                                            /
                                            <span class="total-slides">{{ yws_grid_items.size }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <span>left</span>
                        <span>right</span>
                    </div>
                </div>
            </div>
        </div>
        {% for item in yws_grid_items %}
            <div class="article-grid-item" data-article-grid-index="{{ forloop.index }}">
                {% case item.type %}
                    {% when 'image' %}  
                        <img src="{{ item.image |  image_url: width: 300  }}" alt="YWS Project Image">
                    {% when 'video' %}
                        <span id="article-play-button">
                            {% render 'yws-icon-play' %}
                        </span>
                        {{ video_source | media_tag: autoplay: false, controls: true, muted: false, playsinline: true, preload: false }}
                {% endcase %}
            </div>
        {% endfor %}
    </div> {% endcomment %}
</div>



{% schema %}
  {
    "name": "YWS Hero - article",
    "enabled_on": {
        "templates": ["article"]
    },
    "settings": [],
    "presets": [
        {
            "name": "YWS Hero - article"
        }
    ]
  }
{% endschema %}