{% liquid 

    assign obj = article.metafields.custom.blog_post_meta_object.value

    assign yws_date                 = obj.project_date.value
    assign yws_location             = obj.project_location.value
    assign yws_deliverables         = obj.project_deliverables.value
    assign yws_team                 = obj.project_team.value
    assign yws_project_description  = obj.project_full_description.value
    assign yws_grid_items           = obj.project_files.value

-%}

<div data-section-id="{{ section.id }}" class="yws-article-container">
    <div class="yws-hero article-hero">
        <div class="content-wrapper">
            <div class="content-container-inner">
                <div class="empty"></div>
                <div class="content-container">
                    <h1>{{ article.title}}</h1>
                    <h2>{{ article.excerpt }}</h2>
                </div>
            </div>
        </div>

        <div class="image-wrapper">
            <img src="{{ article.image.src |  image_url: width: 1440 }}" alt="YWS Banner Image">
        </div>
    </div>

    <div class="yws-article-info">
        <div class="col">
            <div class="date">
                <h4>Date</h4>
                <p>{{ yws_date }}</p>
            </div>
            <div class="location">
                <h4>Location</h4>
                <p>{{ yws_location }}</p>
            </div>
            <div class="deliverables">
                <h4>Deliverables</h4>
                <ul>
                    {% for deliverable in yws_deliverables %}
                        <li>{{ deliverable }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="team">
                <h4>Team</h4>
                <ul>
                    {% for member in yws_team %}
                        <li>{{ member }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <p>{{ yws_project_description }}</p>
        </div>
    </div>

    <div class="yws-article-grid">
        <div class="yws-modal__main-area active">
            <div class="yws-modal__close yws-modal__bg-close-area"></div>
            <div class="yws-article-modal-inner--article">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% for item in yws_grid_items %}
                            <div class="swiper-slide" data-article-modal-index="{{ forloop.index }}">
                                <div class="slide-container">
                                    <span class="yws-modal__close">{% render 'yws-icon-close' %}</span>
                                    {% if item.media_type == 'image' %}
                                        {{ item | media | media_tag: image_size: '600x' }}
                                    {% elsif item.media_type == 'video' %}
                                        {% comment %} {% render 'yws-icon-play' %} {% endcomment %}
                                        {% comment %} {{ item | media_tag: autoplay: false, controls: false, loop: false, muted: false, playsinline: true }} {% endcomment %}
                                    {% endif %}
                                    <div class="slide-info">
                                        {% if item.image.alt != blank %}
                                            <span class="slide-caption">{{ item.image.alt }}</span>
                                        {% endif %}
                                        <span class="index-info">
                                            <span class="current-index">{{ forloop.index }}</span>
                                            /
                                            <span class="total-slides">{{ yws_grid_items.size }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <span>left</span>
                        <span>right</span>
                    </div>
                </div>
            </div>
        </div> 
      {% for item in yws_grid_items %}
            <div class="article-grid-item" data-article-grid-index="{{ forloop.index }}">
                {% if item.media_type == 'image' %}
                        {{ item | media | media_tag: image_size: '600x' }}
                    {% elsif item.media_type == 'video' %}
                        {% render 'yws-icon-play' %}
                        {{ item | media_tag: autoplay: false, controls: false, loop: false, muted: false, playsinline: true }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<script>

    window.addEventListener('DOMContentLoaded', () => {

        const gridItems = document.querySelectorAll('.article-grid-item')

        gridItems.forEach((item) => {
            item.addEventListener('click', () => {
                if(window.innerWidth <= 415) {
                    if(item.querySelector('video')) {
                        item.querySelector('video').play()
                        item.querySelector('video').controls = true
                        item.querySelector('.yws-play-icon').style.display = 'none'
                    }
                } else {
                    console.log('open YWS Modal')
                }
            })
        })

        
        
        const swiper = new Swiper('[data-section-id="{{ section.id }}"] .swiper', {
            loop: true,
            speed: 400,
            spaceBetween: 10,
            width: 550,
            slidesPerView: 1,
            centeredSlides: true,
        })

    })

</script>



{% schema %}
  {
    "name": "YWS Hero - article",
    "enabled_on": {
        "templates": ["article"]
    },
    "settings": [],
    "presets": [
        {
            "name": "YWS Hero - article"
        }
    ]
  }
{% endschema %}