{% liquid 

    assign obj = article.metafields.custom.blog_post_meta_object.value

    assign yws_date                 = obj.project_date.value
    assign yws_location             = obj.project_location.value
    assign yws_deliverables         = obj.project_deliverables.value
    assign yws_team                 = obj.project_team.value
    assign yws_project_description  = obj.project_full_description.value
    assign yws_grid_items           = obj.project_files.value

    assign item_count = 0

    for item in yws_grid_items 
        assign item_count = item_count | plus: 1
    endfor

-%}

<div data-section-id="{{ section.id }}" class="yws-article-container yws-section">
    <div class="yws-hero article-hero">
        <div class="content-wrapper">
            <div class="content-container-inner">
                <div class="empty"></div>
                <div class="content-container">
                    <h1>{{ article.title}}</h1>
                    <h2>{{ article.excerpt }}</h2>
                </div>
            </div>
        </div>
        <div class="image-wrapper">
            <img src="{{ article.image.src |  image_url: width: 1440 }}" alt="YWS Banner Image">
        </div>
    </div>

    <div class="yws-article-info">
        <div class="col">
            <div class="date">
                <h4>Date</h4>
                <p>{{ yws_date }}</p>
            </div>
            <div class="location">
                <h4>Location</h4>
                <p>{{ yws_location }}</p>
            </div>
            <div class="deliverables">
                <h4>Deliverables</h4>
                <ul>
                    {% for deliverable in yws_deliverables %}
                        <li>{{ deliverable }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="team">
                <h4>Team</h4>
                <ul>
                    {% for member in yws_team %}
                        <li>{{ member }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            {{ article.content }}
        </div>
    </div>

    <div class="yws-article-grid">
      {% for item in yws_grid_items %}
            <div class="article-grid-item" data-article-grid-index="{{ forloop.index0 }}">
                {% if item.media_type == 'image' %}
                        {{ item | media | media_tag: image_size: '600x' }}
                    {% elsif item.media_type == 'video' %}
                        {% assign poster = item.preview_image.src | image_url: width: 600 %}
                        {% render 'yws-icon-play' %}
                        {{ item | media_tag: autoplay: false, controls: false, loop: false, muted: false, playsinline: true, poster: poster }}
                {% endif %}
            </div>
        {% endfor %}
        <div class="yws-modal__main-area">
            <div class="yws-article-modal-inner--article">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% for item in yws_grid_items %}
                            <script>
                                console.log({{ item | json }})
                            </script>
                            <div class="swiper-slide" data-article-modal-index="{{ forloop.index0 }}">
                                <div class="slide-container">
                                    <div class="media-container">
                                        <span class="yws-modal__close">{% render 'yws-icon-close' %}</span>
                                        {% if item.media_type == 'image' %}
                                            {{ item | media | media_tag: image_size: '1600x' }}
                                        {% elsif item.media_type == 'video' %}
                                            {% render 'yws-icon-play' %}
                                            {{ item | media_tag: autoplay: false, controls: false, loop: false, muted: false, playsinline: true  }}
                                        {% endif %}
                                        <div class="slide-info">
                                            {% if item.image.alt != blank %}
                                                <span class="slide-caption">{{ item.image.alt }}</span>
                                            {% endif %}
                                            <span class="index-info">
                                                <span class="current-index">{{ forloop.index }}</span>
                                                /
                                                <span class="total-slides">{{ item_count }}</span>
                                            </span>
                                        </div>
                                    </div>
   
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <span class="swiper-left">
                        {% render 'yws-icon-caret-left' %}
                    </span>
                    <span class="swiper-right">
                        {% render 'yws-icon-caret-right' %}
                    </span>
                </div>
            </div>
        </div> 
    </div>
</div>
<script>


    window.addEventListener('DOMContentLoaded', () => {

        const gridItems = document.querySelectorAll('.article-grid-item')
        const ywsModalClose = document.querySelectorAll('.yws-modal__close') 
        const swiperLeft = document.querySelector('.yws-article-grid .swiper-left')
        const swiperRight = document.querySelector('.yws-article-grid .swiper-right')       
        const swiper = new Swiper('[data-section-id="{{ section.id }}"] .swiper', {
            loop: true,
            speed: 400,
            slidesPerView: 1,
            centeredSlides: true,
        })

        let aVideoIsPlaying = false

        gridItems.forEach((item) => {
            item.addEventListener('click', (e) => {
                e.stopPropagation()
                if(window.innerWidth <= 415) {
                    const video = item.querySelector('video')
     
                    if(video) {
                        video.addEventListener('pause', () => {
                            setTimeout(() => {
                                video.pause()
                            }, 50)
                        })
                        playVideo(item) 
                    } 
                } else {

                    const cardNumber = Number(item.dataset.articleGridIndex)

                    swiper.slideToLoop(cardNumber, 0, 0)
                    document.querySelector('.yws-article-grid .yws-modal__main-area').classList.add('active')
                    document.body.classList.add('overflow-hidden')

                    if(item.querySelector('video')){
                        const selectedVideo = document.querySelector(`[data-swiper-slide-index="${cardNumber}"]`)
                        playVideo(selectedVideo)
                    }
                }
            })
        })

        document.querySelectorAll('.yws-modal__main-area .yws-play-icon').forEach((icon) => {
            icon.addEventListener('click', () => {
                const container = icon.closest('.slide-container')
                playVideo(container)
            })
        })

        ywsModalClose.forEach((modal) => {
            swiper.slideToLoop(0, 0, true)
            modal.addEventListener('click', () => {
                if(aVideoIsPlaying) {
                    pauseAllVideos()
                }
            })
        })

        swiperLeft.addEventListener('click', () => {
            if(aVideoIsPlaying) {
                pauseAllVideos()
            }
            swiper.slidePrev()
        })

        swiperRight.addEventListener('click', () => {
            if(aVideoIsPlaying) {
                pauseAllVideos()
            }
            swiper.slideNext()
        })

        swiper.on('sliderMove',() => {
            if(aVideoIsPlaying) {
                pauseAllVideos()
            }
        })

        function playVideo(container) {
            const video = container.querySelector('video')
            video.controls = true
            video.play()
            container.querySelector('.yws-play-icon').style.display = 'none'
            aVideoIsPlaying = true    
        }

        function pauseAllVideos() {
            document.querySelectorAll('.yws-article-container video').forEach((video) => {
                video.pause()
                video.currentTime = 0 
            })
            aVideoIsPlaying = false
        }

        window.addEventListener('keydown', (e) => {
            if(!document.querySelector('.yws-article-grid .yws-modal__main-area').classList.contains('active')) return
            if (e.key === 'ArrowLeft' || e.keyCode === 37) {
                swiper.slidePrev()
            } else if (e.key === 'ArrowRight' || e.keyCode === 39) {
                swiper.slideNext()
            }
        })

    })



</script>



{% schema %}
  {
    "name": "YWS Hero - article",
    "enabled_on": {
        "templates": ["article"]
    },
    "settings": [],
    "presets": [
        {
            "name": "YWS Hero - article"
        }
    ]
  }
{% endschema %}